

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.aside-icon {
    width: 80px;
    height: 80px;
}
.aside-icon a i {
    text-align: center;
    font-size: 60px;
    line-height: 80px;
}
a {
    text-decoration: none;
    color: #b9f6ca !important;
}

.carousel-inner .carousel-caption {
    background:#b9f6caa3;
    border-radius: 10px;
}
.carousel-inner h1 {
    text-shadow: 1px 1px 5px #096975;
}
.navbar-brand, .title {
    background: -webkit-linear-gradient(90deg,#00c853,#c8e6c9);
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
.navbar-brand:hover {
    text-shadow: 5px 5px 20px #69f0ae, -5px -5px 20px #69f0ae;
}
.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
}
.fixed-image2{
    /* background-image:url(../images/2-sild.jpg); */
    background-image: url(../images/2-sild.jpg);
    
}
.fixed-img {
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}
.cardover {
    position: relative;
    min-height: 450px;
}
.card-img-top {
    height: 380px;
}
.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.cardover .btn {
    position: absolute;
    z-index: 10;
    bottom: 55px;
    right: 13px;
}

.card-hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #00e676;
    background: linear-gradient(0deg, rgba(35, 109, 76, 0.597) 0%, #457164 100%);
}
.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}
.thankcard {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card.card-has-bg:hover {
    transform: scale(0.9);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card-hover:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}
.thankcard {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

/* artical */
.postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
}
.postcard:nth-child(2n+1) {
    flex-direction: row;
}
.postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
}
.postcard:nth-child(2n+1) {
    flex-direction: row;
}
.postcard.light {
    background-color: #e1e5ea;
}
.postcard {
    flex-wrap: inherit;
}
.postcard {
    height: 400px;
    /* flex-wrap: wrap; */
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    box-shadow: -5px 5px 20px 10px rgb(201, 198, 241);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
.red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}
.green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
.green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
.green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}
.yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
}
.yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.postcard:hover .postcard__bar {
    width: 100px;
}
.blue .postcard__bar {
    background-color: #0076bd;
}
.red .postcard__bar {
    background-color: #bd150b;
}
.green .postcard__bar {
    background-color: #79dd09;
}
.yellow .postcard__bar {
    background-color: #bdbb49;
}
.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}
.postcard__text .title-artical a{
    color: black !important;

}
.postcard .postcard__text {
    padding: 3rem;
    width: 100%;
}
.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard .t-dark {
    color: #18151f;
}

.postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}
.postcard .postcard__img_link {
    display: contents;
}
.postcard a {
    color: inherit;
}
.postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
}
.postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.postcard .postcard__text {
    padding: 3rem;
    width: 100%;
}
.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard .t-dark {
    color: #18151f;
}
.postcard__text {
    padding: 2rem 3.5rem;
}
.postcard.light .postcard__text:before {
    background: #e1e5ea;
}
.postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
}
.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
}
.postcard .postcard__img_link {
    display: contents;
}
.postcard a {
    color: inherit;
}
.postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
}
.postcard .postcard__img {
    /* max-height: 180px; */
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard .postcard__text {
    padding: 3rem;
    width: 100%;
}
.postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.postcard .t-dark {
    color: #18151f;
}
.postcard__text {
    padding: 2rem 3.5rem;
}
.postcard.light .postcard__text:before {
    background: #e1e5ea;
}
.postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
}
.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
}
.postcard .postcard__title {
    font-size: 2rem;
    color: black;
}
.postcard .small {
    font-size: 80%;
}
.blue .postcard__bar {
    background-color: #0076bd;
}
.postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}
.postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}
.postcard .postcard__tagbox {
    justify-content: start;
}
.postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color 0.5s;
}
.postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
}
.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49;
    color: black;
}
.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09;
    color: black;
}
.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b;
}
.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd;
}
/* social media */
.card-body .soc   {
    text-align: center;
    font-size: 60px;
    line-height: 80px;
    color: #69f0ae;
}
.card-body .soc:hover {
    color: #69f0afb0;
    opacity: 0.7;
}

/* Footer */
.rounded-circle {
    border-radius: 50%!important;
}
.logoicon {
    height: 80px;
    width: 80px;
    box-shadow: -3px -3px 20px 10px #cdf6e2db;
    border-radius: 50%;
    transition: 1s;
}

.card-body a{
    text-decoration: none;

}
.postcard__text h1 a{
    text-decoration: none;

}

.bg-footer{
background-color:#69f0ae ;
}